@using DynamicLoopCompany.Components.Models.Content
@using DynamicLoopCompany.Components.Models.SubMenu
@using AutoMapper
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var subMenuModel = Mapper.Map<IPublishedContent,SubMenuModel>(Model.Content);
    var subMenuContentModel = Mapper.Map<IPublishedContent, ContentModel>(Model.Content);
}

@section Header
{
    <script src="/scripts/interactivetext.js" type="text/javascript"></script>
}
<div>
	<div id="sidebar">
	    <div class="container">
	        @Html.Partial("SubMenu", subMenuModel)
	    </div>
	</div>
    <div id="content">
        @Html.Partial("SubMenuContent", subMenuContentModel)
        <!--
        <div>
            <h1>Our Values</h1>
            <p>What makes an agency different? Why should you consider working with Cambridge MR when there are many good agencies out there? We believe our experience is our strength. We bring unrivalled experience of markets, consumers and clients to bear on business issues.  Our research solutions reflect our heritage as both clients and marketers, not just as researchers.</p>
            <p>Solid solutions, clear and focused business insights, always going above and beyond what is called for in the brief, are the things that characterise CMR and why our clients come back to us.</p>
            <p>We take a pragmatic and practical approach. We do not have black boxes or cleverly named ‘products’ masking a one size fits all approach, but look at each issue with fresh eyes. We may challenge the brief, or the assumptions made, but only as a result of an informed dialogue with our clients.</p>
        </div>
        -->
    </div>
</div>
<div class="clear-all"></div>